.message-container {
    display: flex;
    justify-content: space-between;
}

.error-message {
    color: rgb(216, 22, 22);
}

.success-message {
    color: rgb(36, 214, 20);
}

.little-X {
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    width: 1rem; 
    height: 1rem;
}


.little-X:hover {
    cursor: pointer;
}